.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.w {
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: move;
    background-color: white;
    font-size: 11px;
}

.w:hover {
    background-color: #5c96bc;

}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.coretopology-hover, .coretopology-source-hover, .coretopology-target-hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: #ececec;
    opacity: 0.8;
    padding: 0.3em;
    *border-radius: 0.5em;
    *border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 0px !important;
    right: 0px !important;
    width: 1.2em !important;
    height: 1.2em !important;
    background-color: orange;
    cursor: pointer;
    box-shadow: none !important;
		border-radius:0 0 10px 0;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .coretopology-endpoint {
    z-index: 3;
}

.dragHover {
    border: 2px solid orange;
}

path, .coretopology-endpoint { cursor:pointer; }